body {
    margin: 0 auto;
    background-color: #d80606;
}

header {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
    padding: 5px;
    border-bottom: #d80606 solid;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

header h1 span {
    font-family: 'Mrs Sheppards', cursive;
    font-size: 72px;
    color: #d80606;
}

.main {
    margin-top: 110px;
}

.blog-body {
    width: 70%;
    margin: 0 0 20px 5%;
    padding: 10px 20px 20px 20px;
    background-color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

.blog-body h3 {
    font-style: italic;
    margin-top: 30px;
}

.new-btn {
    width: 100px;
    height: 46px;
    border-radius: 16px;
    font-size: 18px;
    border-color: #980c0c;
    position: fixed;
    right: 5%;
    top: 35px;
}

.new-btn:hover {
    background-color: #980c0c;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.icons {
    width: 100%;
    text-align: right;
}

.icons button {
    border-style: none;
    height: 40px;
    width: 40px;
    font-size: 25px;
    margin-left: 10px;
    color: #980c0c;
}

.icons button:hover {
    color: #FFFFFF;
    background-color: #980c0c;
}

.create-body {
    text-align: left;
    padding-top: 20px;
}

.create-body form {
    width: 610px;
    margin-left: calc(50% - 305px);
}

.input-author, .input-title {
    height: 30px;
    width: 290px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

.input-body {
    height: 400px;
    width: 600px;
    padding: 5px;
    font-size: 20px;
}

.submit-btn {
    width: 100px;
    height: 46px;
    border-radius: 16px;
    font-size: 18px;
    border-color: #980c0c;
    margin-left: 500px;
}

.submit-btn:hover {
    background-color: #980c0c;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

button:focus {
    outline: 0;
}